version: "3.8"

services:
  db:
    image: postgres:18.1-alpine
    container_name: pms-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: pms-api
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable
      - TEST_DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_TEST_NAME}?sslmode=disable
      - PORT=8080
    ports:
      - "4000:8080"

volumes:
  postgres_data:
